In [29]:
params = [['PythonIntelligJ','PythonSrc','SnowflakeTGT',
           'snowflake-connector-python  and import snowflake.connector',
           'Heloworld',
           'za80685.ap-south-1.aws',
           'MYDB_PRACTICE']]

list

In [35]:
import os
import sys
import pandas
df1=pandas.read_csv("C:\\Personals\\Learnings\\Python\\mysite\\Heloworld\\files\\supermarkets\\supermarkets.csv")
#for i in df1.index:
#    print(df1['Address'][i], df1['Name'][i])
for i,columns in   df1.iterrows():
    print(i,columns[0],columns[1])

0 1 3666 21st St
1 2 735 Dolores St
2 3 332 Hill St
3 4 3995 23rd St
4 5 1056 Sanchez St
5 6 551 Alvarado St

In [41]:
import pandas
df1=pandas.read_csv("C:\\Personals\\Learnings\\Python\\mysite\\Heloworld\\files\\supermarkets\\testdata.csv")
#for i in df1.index:
#    print(df1['Address'][i], df1['Name'][i])
for i,columns in   df1.iterrows():
    print(i,columns[0],columns[1])

0 1 3666 21st St
1 2 735 Dolores St
2 3 332 Hill St
3 4 3995 23rd St
4 5 1056 Sanchez St
5 6 551 Alvarado St